


<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow" />
	<title>Our Team</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="../flip-master/dist/jquery.flip.min.js"></script>
	<script>
    $(function(){
    	$(".flip-horizontal").flip({
  			trigger: 'hover'
		});
    });
  	</script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="css/web.css" rel="stylesheet" media="all">
</head>
<body>

	<div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="img_paris.jpg" alt="Paris" style="width:300px;height:200px">
      </div>
      <div class="flip-box-back">
        <h2>Paris</h2>
        <p>What an amazing city</p>
      </div>
    </div>
  </div>
</body>
</html>