

<!DOCTYPE html>
<html>

<head>
  <script src="jQuery.js"></script>
  <script src="calc.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link rel="shortcut icon" type="image/png" href="images/logo2.png" />
  <link rel="shortcut icon" type="image/png" href="images/logo2.png" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="../flip-master/dist/jquery.flip.min.js"></script>
	<script>
    $(function(){
    	$(".flip-horizontal").flip({
  			trigger: 'hover'
		});
    });
  	</script>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="css/web.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/web.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../flip-master/dist/jquery.flip.min.js"></script>
 
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <style>
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      color: #fff;
      background-color: #f7c225;
    }
  </style>

</head>

<body style="background: #eceff1">
  <div id="navbar">
    <section id="navbarHome">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0">
        <a class="hide-on-med-and-down" id="logo-container" href="#" target="_blank" class="brand-logo">
          <img src="images/DSC_badge_Color.svg" width="55px" height="60px" style="padding:5px"></a>
        &nbsp; &nbsp;
        <a class="navbar-brand" href="#"><span style="color:#fcc719;font-size: 30px; font-weight: 70px">Developer
            Student Club</span></a> &nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse"
          id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3" href="/" id="ishank">Home<span class="sr-only">(current)</span></a>
            </li> &nbsp;
            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3 " href="/#aboutUs">About Us<span
                  class="sr-only">(current)</span></a>
            </li> &nbsp;
            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3 " href="/events">Events</a>
            </li> &nbsp;
            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3 " href="/blogs">Blogs</a>
            </li> &nbsp;

            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3 current #" href="#">Team</a>
            </li> &nbsp;
            <li class="nav-item active">
              <a class="nav-link hvr-fade py-2 px-3 " href="/#contactUs">Contact Us</a>
            </li>
        </div>
      </nav>
  </div>


  <div style="background:#fcc719; text-align:center; padding-top: 60px; padding-bottom: 60px; padding-left: -100px">
    <h1 class="display-4"
      style="font-size: 70px; font-weight:60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      Our Team</h1>
    <p style="font-size: 30px">Each team member is conversant with his domain. Collectively, we work towards a common
      goal of helping university students to emerge as developers.</p>
  </div>


  </div>
  <div class="container">
    <div class="row" style="margin-top:100px">
      <!--<div class="col-md-4 ">

                          
                                <img src="images/developer.jpg" alt="Avatar" style="width:100%; border-radius: 50%">
                                
                                  <h2>MS Pavan Ranjith</h2>
                                  <p class="title">Developer and head</p>
                                  <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
                                  <p>pawan@gmail.com</p>
                                  <p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>
                                
                            </div>-->
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQEMnIPsy5V8TQ/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=EcZ_kt_zh6LM87gL5jrVSsn96XfFX6DEhSMokVBCZhg"
          aria-label="Piyush M" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Piyush Mehta</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
      <!-- <div class="col-md-4 " style="text-align: center">

        
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img aria-label="Divya K" alt="Avatar" style="width:80%;border-radius: 50%" src="" alt="Paris" style="width:300px;height:200px">
              </div>
              <div class="flip-box-back"><center>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a> 
                <a href="#"><i class="fa fa-linkedin"></i></a> 
                <a href="#"><i class="fa fa-facebook"></i></a> 
              </center>
              </div>
            </div>
          </div><br><br>
        <h2>Divya K</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p> -->

      <!-- </div> -->
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQEya5JfJQ4aRw/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=ma7WbVFtixu2r6l3h0opj-kI9kEnZ-L2gd4A9WCDBSs"
          aria-label="Hemant J" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Hemant Joshi</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

          <img
            src="https://media.licdn.com/dms/image/C5103AQFz6yyANrIzag/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=eoywI8LLTUuuj3juFv2yH6v6eoTAR8ymwRF89CcLjXw"
            aria-label="Hemant J" alt="Avatar" style="width:70%; border-radius: 50%">
  
          <h2>Divya K</h2>
          <p class="title">Developer and head</p>
          <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
          <p>pawan@gmail.com</p>
          <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->
  
        

    </div>
    <div class="row">
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQHc-Vl3TOuxDA/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=m6sZWGjG2wvgh7dx1cPP5QiaT181yEBnRHPfBlZewds"
          aria-label="Pawan Ranjith" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>MS Pavan Ranjith</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQGRZIisykn17g/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=8pvNeALVB5xKZ9QTCbhMRWWnmFydXdTZoJPrsnKTcFc"
          aria-label="Vikas NS" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Vikas NS</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQFi9hSfeMAa0A/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=wFHlwIWzZoRERvBzUjgU_VdMzN1X_kJzZRXmcenleV4"
          aria-label="Mohit Kumar" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Mohit Kumar</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!-- <p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQHFe5dQ-5TFjg/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=5I5iK3XRJHb40X1di2wDPhZkehGL_9ebkm3OhIXzS2U"
          aria-label="Kavya Reddy" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Kavya Reddy</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!-- <p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5603AQGo5JtphaQ6yw/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=dxYiZEN_keVDhE0PZKzXcCmzOnV_GW2tJHgJ9Z0-mfg"
          aria-label="Aditya G" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Aditya G</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>
      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQFDfkS8gXOpRw/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=aOBiCHAfF7KzBr5wPIH9pOIquEliK2RNyyM24REoCZ4"
          aria-label="Karthik VR" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Karthik VR</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img src="https://avatars2.githubusercontent.com/u/41142333?s=460&amp;v=4" aria-label="Rohit PN" alt="Avatar"
          style="width:70%; border-radius: 50%">

        <h2>Rohit Nagraj</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQGpQNeowC0afg/profile-displayphoto-shrink_200_200/0?e=1555545600&amp;v=beta&amp;t=Lsk9APQ7o1DrmbsxRrY6bplxZXx2APBCdGolMi8pjyQ"
          aria-label="Nimish Bongale" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Nimish Bongale</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQFNDS7oIXU2kQ/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=Y0yJwMMydFF7d6HjKXmRPWeniavnjKmLDpb0d61x_1o"
          aria-label="Rishabh P" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Rishabh Priyadarshi</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C4E03AQFkKGGhJThWxg/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=cVT0VE8bd2rlnpLx6zM-uvfYmUpWIbX7RhUl7q-_7ik"
          aria-label="Raghav M" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Raghav Maheshwari</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C4E03AQHvSt3TESPpvQ/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=AtLMQl4_PPbHMMjJjmVYVWdaduHAGbj1VrlMu3mKCd4"
          aria-label="Tanisha S" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Tanisha Sabherwal</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQGUlLJIBnvLAw/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=bZgexdX-2GLtwKMPNus7HdBGGeBrpUZWJ3RhBuOqCl4"
          aria-label="Ishank Sharma" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Ishank Sharma</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">

        <img
          src="https://media.licdn.com/dms/image/C5103AQFMPhZipI86cg/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=o1EsI_St6d8Cj2OhLncIzn4nfu5GnUFiL569ihohSNo"
          aria-label="Ayush Ujjwal" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>Ayush Ujjwal</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->

      </div>

      <div class="col-md-4 " style="text-align: center">


        <img
          src="https://media.licdn.com/dms/image/C5103AQHzab3-hYJqQA/profile-displayphoto-shrink_800_800/0?e=1555545600&amp;v=beta&amp;t=gNmf2prZGGQ5TMg1lQES08dgkuj0td0RtFi1Ll3T9KI"
          aria-label="Satyam Kumar" alt="Avatar" style="width:70%; border-radius: 50%">



        <h2>Satyam Kumar</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->


      </div>




      <div class="col-md-4 " style="text-align: center">


        <img src="images/developer.jpg" alt="Avatar" style="width:70%; border-radius: 50%">

        <h2>MS Pavan Ranjith</h2>
        <p class="title">Developer and head</p>
        <p>Pawan is a code blooded interest with interest in Machine Learning and data science</p>
        <p>pawan@gmail.com</p>
        <!--<p><button class="button"><a href="http://www.linkedin.com">Contact</a></button></p>-->
      </div>

    </div>
  </div>
  <script>
    $(function(){
        $(".flip").flip({
            trigger: 'hover'
        });
    });
    </script>
</body>
<footer class="page-footer font-small cyan darken-3">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2019 Copyright: Made with <i class="fa fa-heart"></i> by
    DSC-<a href="http://www.msrit.edu/" style="color:#fcc719">RIT</a>
  </div>

  <!-- Copyright -->

</footer>